# Data Science Tools and Ecosystem

In this notebok, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
ordered list
1. Panda
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| Jyputer Notebook |
| RStudio |
| Vs Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print((3*4)+5), #This a simple arithmetic expression to mutiply then add integers

17

(None,)

In [3]:
print(200/60), #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

(None,)

**Objectives:**
* List popular languages for Data Science
* List of Data science Tools
* Some arithmetic expressions

# Author
Rajesh Senapati